*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg{
  text-align: center;
  margin: 0px;
  height: 100vh;
  background-color: black;
  background-image: url('../public/BG.png');
  background-size: cover;
}

.heading{
  font-size: 40px;
  text-align: center;
  font-family: Montserrat;
  color: rgb(255, 255, 255);
}

.image{
  align-items: center;
}
.fav-mov{
  color: rgb(194, 1, 194);
}
.search-bar{
  width: 600px;
  background-color: rgb(17, 0, 44);
  border-radius: 10px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-text{
  color: white;
  font-size: 19px;
  background-color: transparent;
  border: none;
  width: 600px;
  height: 50px;
  padding-left: 20px;
  background-image: url(.../public/search.svg);
  transition: background-color 0.2s ease-in-out ;
  border-radius: 10px;
}
input.placeholder{
  padding-left: 10px;
  font-family: montserrat;
  color: white;
}
.search-text:focus{
  outline: none; /*outline is the highlighted border of input field when selected*/
}
.avoid-flex{
  display: flex;
  flex-direction: row;
}
.icon{
margin-left: 20px;
}
.movie-names{
  font-family: Montserrat thin;
  color: white;
  font-size: 15px;
  width: 300px;
  margin-top: 10px;
  margin-left: 30px;
}
.movie-list-div{
  margin-right:auto ;
  margin-left: auto;
  border-radius: 20px;
  width: 50%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(26, 0, 39);
}